@page "/Games/strokegame"
@using Portfolio.Pages
@using Portfolio.Utilities
@inject IJSRuntime JS
@layout GamesAndAppsLayout

<!-- Section 1: Hero -->
<img src="Images/Blue 2.png" alt="Banner Image" class="main-banner" />
<h1 id="about">Game for Rehabilitation of Stroke </h1>
<p class="description">
    I’m a passionate software developer dedicated to creating intuitive, impactful programs that assist people.

    <br /><br />

    I attended Newcastle University, where I was awarded the Degree of Masters of Computing with First Class Honours in
    Computer Science (Game Engineering).
</p>

<hr class="section-divider" />

<div class="stats-section" id="games">
    <h1>University Grades</h1>
    <div class="stats-content">
        <div class="chart-item">
            <div class="chart-container">
                <canvas id="proposal"></canvas>
                <div class="chart-value">77.25%</div>
            </div>
            <p class="chart-title">Research Proposal</p>
        </div>

        <div class="chart-item">
            <div class="chart-container">
                <canvas id="poster"></canvas>
                <div class="chart-value">82.5%</div>
            </div>
            <p class="chart-title">Poster</p>
        </div>

        <div class="chart-item">
            <div class="chart-container">
                <canvas id="presentation"></canvas>
                <div class="chart-value">90%</div>
            </div>
            <p class="chart-title">Oral Examination</p>
        </div>

        <div class="chart-item">
            <div class="chart-container">
                <canvas id="dissertation"></canvas>
                <div class="chart-value">78.5%</div>
            </div>
            <p class="chart-title">Dissertation</p>
        </div>
    </div>
</div>

<p class="description">
    This project was completed as a dissertation at Newcastle Univerity, and was received very positively. It received a high first class, with high marks being awarded across each section of the project. It was praised by health professionals it for its thorough research into both targeted muscle engagement and cognitive benefits, including the use of colour theory to enhance memory, accessibility-focused design, and comprehensive performance and progress tracking.
</p>

<hr class="section-divider" />

<section class="image-text-section">
    <img src="Images/Games for Health 3.png" alt="Project Screenshot" />
    <div class="image-text-content">
        <h2>Minigames</h2>
        <p>
            There are 8 minigames for the patient to try out. They are separated into 4 groups, with 2 unique movement
            targetted at each muscle in the hand. 3 games are randomly chosen each time the user plays, so each experience
            is different and kept entertatining and varied.
        </p>
    </div>
</section>
<section class="image-text-section">

    <div class="image-text-content">
        <h2>Instructions</h2>
        <p>
            The instructions for each game are shown beforehand, with diagrams to make it easy to play. These are presented
            until the user clicks or says play, which will then start the game. The user also has the option to pause the game
            or replay using voice controls.
        </p>
    </div>
    <img src="Images/Blue 1.jpeg" alt="Project Screenshot" />
</section>

<section class="image-text-section">

    <img src="Images/Red 2.jpeg" alt="Project Screenshot" />
    <div class="image-text-content">
        <h2>Gameplay</h2>
        <p>
            The gameplay is kept very simple and very short, as the user shouldn't overwork their muscles. They are also kept
            very colourful to aid control and concentration. There is also aids on the bottom of the screen to make sure the hands
            are being tracked properly.
        </p>
    </div>
</section>

<section class="image-text-section">
    
    <div class="image-text-content">
        <h2>Variation</h2>
        <p>
            All of the minigames are completely different, and utilise the hands in different ways. Some games require the user to rotate
            their hands in a certain way, some require grabbing at virtual objects, and some require the user to show digits from memory.
        </p>
    </div>
    <img src="Images/Yellow 2.jpeg" alt="Project Screenshot" />
</section>

<section class="image-text-section">
    <img src="Images/Game for Health 2.png" alt="Project Screenshot" />
    <div class="image-text-content">
        <h2>Improvement</h2>
        <p>
            The user's progress is tracked for each game, showing their progression through rehabilitation. This feedback is kept positive
            to encourage the user to keep working and achieving.
        </p>
    </div>
    
</section>

<hr class="section-divider" />

<section class="features-section">
    <h2>Software</h2>
    <div class="features-grid">
        <div class="feature-card">
            <div class="feature-icons">
                <img class="feature-icon" src="@IconRef.GetIcon("unity")" alt="Unity Icon">
                <img class="feature-icon" src="@IconRef.GetIcon("c#")" alt="C# Icon">
            </div>
            <div class="feature-title">Unity + C#</div>
            <p class="feature-desc">
                Unity was the best application to use with OpenCV, as the pinpoints in the hand could easily be dealt with as individual game objects. This made it easy to verify whether the hand movements were completed correctly, as only the proximity of the objects needed to be checked.
            </p>
        </div>

        <div class="feature-card">
            <div class="feature-icons">
                <img class="feature-icon" src="@IconRef.GetIcon("pycharm")" alt="Unity Icon">
                <img class="feature-icon" src="@IconRef.GetIcon("python")" alt="C# Icon">
            </div>
            <div class="feature-title">PyCharm + Python</div>
            <p class="feature-desc">
                ADD THIS FROM LAPTOP
            </p>
        </div>

        <div class="feature-card">
            <div class="feature-icons">
                <img class="feature-icon" src="@IconRef.GetIcon("OpenCV")" alt="Unity Icon">
            </div>
            <div class="feature-title">OpenCV</div>
            <p class="feature-desc">
                ADD THIS FROM LAPTOP
            </p>
        </div>
    </div>
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("renderChart", "dissertation", 78.5);
            await JS.InvokeVoidAsync("renderChart", "poster", 82.5);
            await JS.InvokeVoidAsync("renderChart", "proposal", 77.25);
            await JS.InvokeVoidAsync("renderChart", "presentation", 90);
        }
    }
}
